form {
	padding: 10px;
	font-size: 1.2em;
	text-align: left;

	& footer {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		margin: 1em -10px -10px;
		font-size: 0.7em;

		& button {
			margin: 10px;
		}
	}

	& button:not([type="submit"]) {
		--button_background: var(--button_background);
		--button_text: $green;
		--button_border: $green;
	
		&:hover {
			--button_background: $green;
			--button_text: $white;
		}
	}
}

label, legend {
	@include label;
}

input, select, textarea {
	@include input;
}

fieldset {
	border: none;
}