@import './fonts';

@import './typo';

@import './forms';

@import './dialog';

@import './clerk';

*, *::before, *::after {
	box-sizing: border-box;
	outline-offset: 0.2em;
}

*:focus {
	outline: 2px dotted $green;
	
}
 
body {
	max-width: 100vw;	 
	margin: 0;
	overflow-x: hidden;
} 

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

@media print {
	@import './print';
}