@page {
	size: A5;
  }

body > *:not(article[class*="runsheet"]) {
	display: none;
}

article[class*="runsheet"] {
	font-size: 12px;

	& h3 {
		margin-top: 0;
		page-break-before: always;
		display: none;
	}

	& section {
		page-break-inside: avoid;

		&:first-of-type, &[data-page="true"] {
			& span[class*="person_name"] {
				display: block;
			}
		}
	}

	& .no-print {
		display: none;
	} 
}