@page {
	size: A5;
	margin: 0 0 50px 0;
}

body {
	--page_margins: 50px;

	& > *:not(article[class*="runsheet"]) {
		display: none;
	}

	& .print-only {
		display: block;
	}
}

article[class*="runsheet"] {
	font-size: 12px;
	page-break-before: always;

	& h3 {
		margin-top: 0;
		display: none;
	}

	& section {
		page-break-inside: avoid;
		position: relative;
		overflow: hidden;
		padding: 0 var(--page_margins);

		&:first-of-type, &[data-page="true"] {
			padding-top: var(--page_margins);
			page-break-before: always;

			& span[class*="person_name"] {
				display: block;
				margin-bottom: 0;
			}

			& .frame {
				display: block;
			}
		}

		& h4 {
			margin-bottom: calc(-50px + 0.5em);
		}

		& thead {
			& .spacing {
				height: 50px;
				background: $white;
				display: block;
				
				& th {
					padding: 0;
				}
			}
		}
	}

	& .no-print {
		display: none;
	} 

	& .frame {
		display: none;
		height: auto;
		position: absolute;
		top: -130px;
		right: -100px;
		width: 400px;
		transform: scaleY(-1);
	}
}