.gifts {
	margin: -10px auto;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	list-style: none;
	width: 90vw;
	max-width: 1200px;

	& :global(+ footer > p) {
		display: none;
	}
}