@import '../../styles/mixins/index';

.dialog {
	padding-top: 40px;
	max-width: max(95vw, 400px);
	width: max-content;
	max-height: 80vh;
	height: max-content;
	padding-left: 10px;
	padding-right: 10px;
	z-index: 100;
	min-width: unset;
}

.container {
	overflow-y: auto;
	overflow-x: clip;
}

.open {
	@include button;
	@include button_secondary;
}

.close {
	@include button_text;

	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 2em;
	width: auto;

	svg {
		margin: 0;
	}
}

@media(min-width: 40em) {
	.dialog {
		max-width: max(95vw, 500px);
		padding: 40px;
	}
}